parameters:
    level: 6

    scanFiles:
        - ./phpstan/app.stub

    paths:
        - config
        - src

    ignoreErrors:
        - '#Function (config|config_path|resource_path|storage_path) not found\.#'

